@font-face {
    font-family: PressStart;
    src: url(https://cdn.glitch.com/f55a21aa-208f-4d8d-9979-9758d85ca2b9%2FPressStart2P.ttf?1509802747753);
/*     src: url(./assets/PressStart2P.ttf); */
}

body {
  background-color: #000000;
  background-size: 100% auto;
  background-repeat:no-repeat;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: PressStart, Verdana, system-ui; 
}

.banner {
  background-color: blue;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 10vw;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.graphicsCanvas {
  background-color: #222;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.graphicsCanvas > canvas {
  background-color: #000000;
  display: block;
  margin: 0 auto;
}